>>
# week1 과제 요구 사항입니다.

실습 영상과 같이 진행해주세요.

실습에 필요한 모든 내용은 자동으로 생성되어있습니다.

[ 요구 사항 ]
1. git config user.name 에 등록한 유저 이름으로 branch 를 생성한다.
2. git config user.name 에 등록한 유저 이름의 branch 로 이동한다.
3. task-ff branch 와 merge 한다. (fast-forward merge)
4. task-tw branch 와 merge 한다. (3-way merge)
5. 4번 과정에서 conflict가 발생한다면 이를 해결하고 merge를 마무리 한다.

[ 과제 제출 방법 ]
위 요구 사항을 만족한 후 git 을 사용하는 터미널에서 다음 명령어를 사용합니다.
bash validate-week2.sh

해당 명령어를 사용한 뒤 출력된 내용을 캡처하여 노션 과제 제출 방법을 참고하여 Issue 로 작성해주세요!

통과 하지 못한 부분이 있는 경우, 과제 제출로 처리하지 않습니다.

[추가]
해당 과제의 경우 주어진 요구사항에서 틀린 경우 validate가 정상적으로 작동하지 않을 수도 있어요!
해당 경우는 git reflog 명령어로 나오는 모든 부분 캡쳐해서 제출해주세요!
>>